{% macro show_block(b) %}
{% if b.always or b.rescue %}
* Block:
{{ list_tasks(b.block)|indent(2, true) }}
{% if b.rescue %}
  Rescue:

{{ list_tasks(b.rescue)|indent(4, true) }}
{% endif %}
{% if b.always %}
  Always:

{{ list_tasks(b.always)|indent(4, true) }}
{% endif %}
{% else %}
{{ list_tasks(b.block) }}
{% endif %}
{% endmacro %}

{% macro list_blocks(blocks) %}
{% for b in blocks %}
{{ show_block(b) }}
{% endfor %}{% endmacro %}

{% macro list_tasks(tasks) %}
{% for t in tasks %}
{% if t._attributes.block %}{{ show_block(t) }}
{% else %}
* _{{ t.name or t.action }}_

  * Action: `{{ t.action }}`
  {% for arg_name, arg_value in t.args|dictsort %}
    * {{ arg_name }}: `{{ arg_value }}`
  {% endfor %}

{% endif %}
{% endfor %}
{% endmacro %}

# `{{ playbook._file_name|basename }}`
{% if playbook.descs.strip() %}

{{ playbook.descs }}
{% endif %}

## Plays
{% for play in plays %}

### Play: {{ play.name }}
{% if play.descs.strip() %}

{{ play.descs }}
{% endif %}

* Target Hosts: `{{ play.hosts|join(', ') }}`

{% if play.pre_tasks %}
#### Pre Tasks
{{ list_blocks(play.pre_tasks) }}
{% endif %}
{% if play.roles %}
#### Roles
{% endif %}
{% if play.tasks %}
#### Tasks
{{ list_blocks(play.tasks) }}
{% endif %}
{% if play.post_tasks %}
#### Post Tasks
{{ list_blocks(play.post_tasks) }}
{% endif %}

#### Other Attributes
{% for k, v in play.attrs|dictsort %}
* {{ k }}: {% if v is mapping %}

{% for k2, v2 in v.items() %}
  * {{ k2 }}: `{{ v2 }}`
{% endfor %}
{% elif v is sequence and v is not string %}

{% for attr in v %}
  * `{{ attr }}`
{% endfor %}
{% else %}
`{{ v }}`
{% endif %}
{% endfor %}
{% endfor %}
